@model Athene.Inventory.Web.Areas.Librarian.Models.UsersViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Schüler aufnehmen";
    Layout = "_Layout";
}

<div class="row">
	<div class="col-md-6">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="col-md-6">
		@Html.Partial("_MessageContainer")
	</div>
</div>
<form asp-controller="Users"
    asp-action="Create"
    class="form-horizontal">
      <div class="form-group">
          <label asp-for="Surname"></label>
          <input class="form-control" asp-for="Surname"/>
      </div>
      <div class="form-group">
          <label asp-for="Lastname"></label>
          <input class="form-control" asp-for="Lastname"/>
      </div>
      <div class="form-group">
          <label asp-for="Birthsday"></label>
          <input class="form-control" asp-for="Birthsday"/>
      </div>
      <div class="form-group">
          <label asp-for="Gender"></label>
          <input class="form-control" asp-for="Gender"/>
      </div>
      <div class="form-group">
          <label asp-for="AddressStreet"></label>
          <input class="form-control" asp-for="AddressStreet"/>
      </div>
      <div class="form-group">
          <label asp-for="AddressZip"></label>
          <input class="form-control" asp-for="AddressZip"/>
      </div>
      <div class="form-group">
          <label asp-for="AddressCity"></label>
          <input class="form-control" asp-for="AddressCity"/>
      </div>
      <div class="form-group">
          <label asp-for="AddressCountry"></label>
          <input class="form-control" asp-for="AddressCountry"/>
      </div>
      <div class="form-group">
          <label asp-for="Student.StudentId"></label>
          <select class="form-control" asp-for="Student.StudentId"></select>
      </div>
      <button class="btn btn-primary">Hinzufügen</button>
</form>
