@model Book

<div class="panel panel-default panel-body">
    @Model.Id<br/>
    @Model.Title<br/>
    @Model.Description<br/>
    @Html.ActionLink("Bearbeiten", "Change", "Inventory", new { id = Model.Id })
</div>
