@model Athene.Inventory.Web.Areas.Librarian.Models.BooksViewModels.CreateInventoryItemViewModel
@{
    Layout = "_Layout";
}
<div class="row">
	<div class="col-md-12">
		<h3>In Bibliothek aufnehmen</h3>
	</div>
</div>

@Html.Partial("_BookItemPreview", Model.Article)

<form asp-controller="Books" asp-action="AddToStore">
    @Html.HiddenFor(model => model.ArticleId)
    <div class="form-group col-md-2">
        <label asp-for="Hall"></label>
        <input asp-for="Hall" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Corridor"></label>
        <input asp-for="Corridor" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Rack"></label>
        <input asp-for="Rack" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Level"></label>
        <input asp-for="Level" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Position"></label>
        <input asp-for="Position" class="form-control" />
    </div>

    <div class="form-group col-md-6">
        <label asp-for="PurchasedAt"></label>
        <input asp-for="PurchasedAt" class="form-control" />
    </div>

    <div class="form-group col-md-6">
        <label asp-for="Condition"></label>
        <select class="form-control" asp-for="Condition" asp-items="Html.GetEnumSelectList<Condition>()"></select>
    </div>

    <div class="form-group col-md-12">
        <label asp-for="Note"></label>
        <textarea asp-for="Note" class="form-control" rows="2"></textarea>
    </div>
    <div class="form-group col-md-12">
        <button class="btn btn-primary">Speichern</div>
    </button>
</form>
