<ul class="navbar-nav ml-auto" *ngIf="isAuthenticated | async">
    <li ngbDropdown class="nav-item">
        <a type="button" role="button" ngbDropdownToggle class="btn dropdown-caret-off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/assets/icons/bell.svg" alt="" width="16" height="16">
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-lg-right p-4 text-muted" style="max-width: 300px;">
            <p class="mb-0">
                You have no new notifications
            </p>
        </div>
    </li>
    <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle text-dark" id="userNavbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="/assets/icons/people-circle.svg" alt="" width="25" height="25"/>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userNavbarDropdown">
            <a class="dropdown-header">
                Logged in as <strong>{{ userName | async }}</strong>"
            </a>
            <a ngbDropdownItem class="dropdown-item" [routerLink]='["/authentication/profile"]' title="Manage">Your Profile</a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem class="dropdown-item" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Sign Out">Sign Out</a>
            <!-- <li><a href="#">Settings</a></li> -->
        </div>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
    </li>
</ul>