<footer class="ath-footer">
    <div class="container">
        <ul class="nav nav-pills ath-navbar-bottom">
            <li><a asp-area="" asp-controller="Home" asp-action="About">@Localizer["About"]</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["Contact"]</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Terms">@Localizer["Terms"]</a></li>
        </ul>
        <p>&copy; 2016 - Athene</p>
    </div>
</footer>