@model IEnumerable<Book>
@{
    Layout = "_Layout";
    ViewBag.Title = "Büchersuche";
}

<div class="row">
	<div class="col-md-6">
		<h3>Büchersuche</h3>
	</div>
	<div class="col-md-6">
		@Html.Partial("_MessageContainer")
	</div>
</div>

@if (Model == null)
{
}
else if (Model.Count() == 0)
{	
	<div class="text-center">
		<br>
		<br>
		<h3><small>Es wurden keine Treffer gefunden</small></h3>
	</div>
}
else if (Model.Count() > 0)
{
    @Model.Count() @:Treffer<br/>
    @foreach (var book in Model)
    {
        @Html.Partial("_BookPreview", book)
    }
}
